@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  font-size: 18px;
}

html {
  background: #111;
}

body {
  font-kerning: normal;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.85px;
  color: white;
}

main {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 800;
  font-size: 48px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 32px;
  margin-top: 0px;
}

h3 {
  font-weight: 800;
  margin-bottom: 0px;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 1.6;
}

p.link-paragraph {
  margin: 4px;
  padding: 8px;
}

a {
  color: #fff;
}

a:hover {
  background-color: #fff;
  color: #000;
}

a.cta {
  background-color: white;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 24px;
}

a.cta:hover {
  background-color: black;
  color: white;
}

hr {
  /* width: 30%; */
  width: 100%;
  border: 2px solid #fff;
}

img {
  display: block;
  margin: 0 auto 2em;
}

input {
  width: 100%;
  margin-bottom: 8px;
  height: 24px;
}
textarea {
  width: 100%;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  color: #fff;
  vertical-align: text-bottom;
}

div[role="progressbar"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div[role="progressbar"] > div {
  max-width: 800px;
  width: 100%;
}
div[role="progressbar"] > .label {
  text-align: center;
}

.flagbackground {
  background: darkgreen;
  border: 1px red solid;
  height: 150px;
  max-width: 250px;
  width: 100%;
}
.flagtop {
  background: black;
  width: 100%;
  height: 50px;
  z-index: 1;
}
.flagmiddle {
  background: white;
  width: 100%;
  height: 50px;
  z-index: 1;
}
.flagtriangle {
  background: auto;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 75px solid red;
  z-index: 2;
  position: relative;
  top: -100px;
  left: 0;
}
